font-face('bariol_light-webfont', '/fonts')
font-face('bariol_regular-webfont', '/fonts')
font-face('bariol_thin-webfont', '/fonts')
font-face('bariol_bold-webfont', '/fonts')
font-face('bariol_light_italic-webfont', '/fonts')
font-face('bariol_regular_italic-webfont', '/fonts')
font-face('bariol_thin_italic-webfont', '/fonts')
font-face('bariol_bold_italic-webfont', '/fonts')
font-face('freigsanlig-webfont', '/fonts')
font-face('freigsanboo-webfont', '/fonts')
font-face('freigsanmed-webfont', '/fonts')
font-face('freigsanligita-webfont', '/fonts')
font-face('freigsanbooita-webfont', '/fonts')
font-face('freigsanmedita-webfont', '/fonts')
