@import '_settings'
@import '_fonts'

normalize()
base()

*
  margin: 0
  padding: 0

img
  outline: none
  border: none

.content
  width: 100%

.type
  float: left
  width: 25%

.type.red { color: red; }
.type.grey { color: grey; }
.type.black { color: black; }
.type.green { color: green; }

.type > *
  padding: 5px
  padding-right: 10px

.panel
  float: left
  width: 100%
  height: 100px

.panel.red { background-color: red; }
.panel.grey { background-color: grey; }
.panel.black { background-color: black; }
.panel.green { background-color: green; }

.thin { font-family: 'bariol_thin-webfont'; }
.light { font-family: 'bariol_light-webfont'; }
.regular { font-family: 'bariol_regular-webfont'; }
.bold { font-family: 'bariol_bold-webfont'; }

.thin.italic { font-family: 'bariol_thin_italic-webfont'; }
.light.italic { font-family: 'bariol_light_italic-webfont'; }
.regular.italic { font-family: 'bariol_regular_italic-webfont'; }
.bold.italic { font-family: 'bariol_bold_italic-webfont'; }

.contents
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  height: 400px
  width: 495px

.bottom
  margin-top: 200px
  position: relative
  padding: 0 40px

.logo
  height: 100px

h1
  font-family: 'bariol_light-webfont';
  font-size: 50px
  margin: 0

h2
  font-family: 'bariol_light_italic-webfont';
  font-size: 34px
  line-height: 100px

h3
  font-family: 'bariol_regular-webfont';
  font-size: 22px
  text-align: center
  padding-bottom: 20px

span
  color: grey

.red
  color: red
.green
  color: green

.column
  float: left

.column1
  @extends .column
  width 33.5%

.column2
  @extends .column

.copy
  font-size: 16px

.our
  width: 100%
  display: inline-block
  & > *
    display: inline-block
    width: 16.5%
    text-align: center

.copy.light { font-family: 'freigsanlig-webfont'; }
.copy.book { font-family: 'freigsanboo-webfont'; }
.copy.medium { font-family: 'freigsanmed-webfont'; }

.copy.light.italic { font-family: 'freigsanligita-webfont'; }
.copy.book.italic { font-family: 'freigsanbooita-webfont'; }
.copy.medium.italic { font-family: 'freigsanmedita-webfont'; }

.logo
  height: 100px

a.contact:hover .logo
  opacity: .5

a.contact:hover .our-email
  opacity: 1

.social-icon
  size: 40 40

.our-email
  @extends .social-icon
  position: absolute
  left: 0px
  top: 0px
  z-index: -1
  opacity: 0
  padding: 30px 53px
.our-twitter
  @extends .social-icon
.her-dribbble
  @extends .social-icon
.her-linkedin
  @extends .social-icon
.her-personal
  @extends .social-icon
.his-github
  @extends .social-icon
.his-linkedin
  @extends .social-icon
.his-personal
  @extends .social-icon